name: Robot Framework Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install robotframework robotframework-seleniumlibrary robotframework-databaselibrary pymysql

      - name: Run Robot tests
        run: |
          robot -d results tests

      - name: Upload Robot reports
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: robot-results
          path: results
